name: CI

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  package-release:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node: [ 18, 20 ]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: npm

      - name: Install
        run: npm ci

      - name: Typecheck
        run: npx nx run gas-demodulify-plugin:typecheck

      - name: Test
        run: npx nx run gas-demodulify-plugin:test

      - name: package:release
        run: npx nx run gas-demodulify-plugin:release --skip-nx-cache
